{% extends "../layout.html" %}
{% block content %}
  <div class="content-section">
    <div class="row mx-auto justify-content-center">

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Product name:</h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.name }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Quantity in stock</h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.quantity_in_stock }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Quantity sold</h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.quantity_sold }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Price per {{inventory.name}} </h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.cost_per_item }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Sales or revenue</h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.sales }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Stock date</h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.stock_date }} </h3>
        </div>
      </div>

      <div class="card m-4" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center">Last sales date </h5>
          <div class="text-center" style="font-size: 30px">
            <span><i class="fa-solid fa-info"></i></span>
          </div>
          <h3 class="text-center"> {{ inventory.last_sales_date }} </h3>
        </div>
      </div>

    </div>
  </div>
{% endblock  %}
